body{

    font-family: arial;
    background: #f2f2f2;
}

.container{

    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    text-align: center;
    color: rgb(103, 99, 99);
}

.inputs{

    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 40px;

}

input{

    flex:1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button{

    padding: 8px 16px;
    cursor: pointer;
}

#addBtn{

    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
}

.details{

    display: flex;
    justify-content: space-evenly;
}

#delete{

     background: red;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px; 
    width: 90px;
    height: 40px;
}